# Looping Structures:

# 1.

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 2.

In [9]:
i = 20
while i >= 1:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

# 3.

In [19]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

# 4.

In [4]:
n = int(input('Enter a number: '))
for e in range(1,n+1):
    print(e)

Enter a number:  9

1
2
3
4
5
6
7
8
9

# 5.

In [7]:
n = int(input('Enter a number: '))
for num in range(1, n+1):
    if num%2!=0:
        print(num)

Enter a number:  10

1
3
5
7
9

# 6.

In [10]:
for _ in range(5):
    print('Happy Birthday!')

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

# 7.

In [15]:
n = int(input('Enter a number: '))
for num in range(1, n+1):
    print(num**2)

Enter a number:  5

1
4
9
16
25

# 8.

In [18]:
number = int(input('Enter a number: '))
for i in range(1,11):
    print(f'{number} x {i} = {number * i}')

Enter a number:  8

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

# 9.

In [21]:
start = 3
diff = 4
terms = 8
for i in range(terms):
    print(start + i* diff, end=' ')

3 7 11 15 19 23 27 31

# 10.

In [26]:
start = 2
ratio = 3
terms = 6
for i in range(terms):
    print(start * (ratio ** i), end=' ')

2 6 18 54 162 486

# 11.

In [29]:
n = int(input("Enter a positive integer: "))
total_sum = 0 
for i in range(1, n + 1):
    total_sum += i
print(f"The sum of all integers from 1 to {n} is {total_sum}")

Enter a positive integer:  5

The sum of all integers from 1 to 5 is 15

# 12.

In [34]:
N = int(input("Enter a positive integer: "))
reciprocal_sum = 0
for i in range(1, N + 1):
    reciprocal_sum += 1 / i
print(f"The sum of reciprocals from 1 to {N} is: {reciprocal_sum:.2f}")

Enter a positive integer:  8

The sum of reciprocals from 1 to 8 is: 2.72

# 13.

In [37]:
running_total = 0
for i in range(5):
    number = float(input("Enter a number: "))
    running_total += number
print(f"The final running total is: {running_total}")

Enter a number:  15
Enter a number:  30
Enter a number:  45
Enter a number:  60
Enter a number:  75

The final running total is: 225.0

# 14.

In [44]:
n = int(input("Enter a positive integer: "))
if n < 0:
    print("Factorial does not exist for negative numbers.")
elif n == 0:
    print("The factorial is: 1")
else:
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    print(f"The factorial is: {factorial}")

Enter a positive integer:  5

The factorial is: 120

# 15.

In [51]:
base = float(input("Enter the base number: "))
exponent = int(input("Enter the exponent: "))
result = 1
if exponent > 0:
    for i in range(exponent):
        result *= base
elif exponent < 0:
    for i in range(abs(exponent)):
        result *= base
    result = 1 / result  
else:
    result = 1
print(f"{base} raised to the power of {exponent} is: {result}")

Enter the base number:  2
Enter the exponent:  8

2.0 raised to the power of 8 is: 256.0